.card {
    background-color: black;
    width: 200px;
    height: 300px;
}

.value {
    color: white;
    position: absolute;
    font-size: 36px; /* Größere Schriftgröße */
    font-weight: bold; /* Dicker Schriftstil */
    font-family: 'Cardo', serif;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block; 
    text-align: center; 
}

.buttonArea {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBarLeft {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBarRight {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.money {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 24px;
    background-color: #ffcc29;
    color: #333;
    border-radius: 8px;
}
.money::before {
    content: ""; /* Leeres Inhaltsattribut für das Pseudoelement */
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/pictures/money.png'); /* Pfad zum Geld-Logo */
    background-size: cover; /* Größenanpassung des Logos */
    margin-right: 8px; /* Abstand zwischen Logo und Betrag */
}

.button:hover {
    background-color: #45a049;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    animation: pulse 1.5s infinite; /* Fügt eine kontinuierliche Pulsationsanimation hinzu */
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 75%);
    transform: scale(1.5);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.button:hover::before {
    opacity: 1;
    transform: scale(2);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}


body {
    margin: 0; /* Kein Außenabstand */
    padding: 0; /* Kein Innenabstand */
    background-color: #007700; /* Hintergrundfarbe des Body */
    overflow: hidden; /* Verhindert das Anzeigen von Scrollleisten */
}

.table {
    width: 100vw;
    height: 100vh;
    background-color: transparent; /* Transparenter Hintergrund */
    position: absolute;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.card-holder {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card-border {
    border: 5px solid #fff; 
    border-radius: 15px;
    padding: 5px; 
    width: 200px;
    height: 300px;
    margin: 5px;
}

/* Stil für den Range-Slider */
input[type="range"] {
    margin-left: 20px;
    -webkit-appearance: none; /* Entferne native Styling */
    appearance: none;
    width: 100%; /* Volle Breite des Containers */
    height: 8px; /* Höhe des Sliders */
    background-color: #ccc; /* Hintergrundfarbe */
    border-radius: 4px; /* Abgerundete Ecken */
    outline: none; /* Entferne den blauen Fokus-Rahmen */
    opacity: 0.7; /* Transparenz, wenn nicht aktiv */
    transition: opacity 0.2s ease;
}

/* Stil für den Slider-Griff (Daumen) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Entferne native Styling */
    appearance: none;
    width: 16px; /* Breite des Griffs */
    height: 16px; /* Höhe des Griffs */
    background-color: #4CAF50; /* Farbe des Griffs */
    border: none;
    border-radius: 50%; /* Runder Griff */
    cursor: pointer;
}

/* Anpassungen, wenn der Slider aktiv ist */
input[type="range"]:hover {
    opacity: 1; /* Zeige den Slider vollständig */
}

input[type="range"]:active {
    opacity: 1; /* Zeige den Slider vollständig */
}

.win-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
}

